﻿@model MvcCheeseShop.OrderLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderLine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.orderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.orderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderLineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
