﻿@model IEnumerable<MvcCheeseShop.OrderLine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.orderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.orderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderLineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderLineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderLineId })
        </td>
    </tr>
}

</table>
