﻿@model MvcCheeseShop.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pictures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pictures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.variant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.variant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fatProcentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fatProcentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aging)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moldy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moldy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firmness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firmness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kgPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kgPrice)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
