﻿@model IEnumerable<MvcCheeseShop.Product>

@{
    ViewBag.Title = "Index";
}
 
<h2>Index</h2> 
 
<p> 
    @Html.ActionLink("Create New", "Create") 
     
    @using (Html.BeginForm()){    
        <p> Title: @Html.TextBox("SearchString") <br />   
            <input type="submit" value="Filter" /></p> 
    } 
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pictures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.variant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fatProcentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aging)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moldy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firmness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kgPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pictures)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.variant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fatProcentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aging)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moldy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firmness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kgPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productId }) |
            @Html.ActionLink("Details", "Details", new { id=item.productId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productId })
        </td>
    </tr>
}

</table>
