﻿@model BilForum.Models.PostModel

@{
    ViewBag.Title = "Create";
}

<!-- TODO: Form Here -->

<h2>Create</h2>
    @using (Html.BeginForm("Create", "PhotoModel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Topic)
            @Html.EditorFor(model => model.Topic.TopicName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Topic)
            @Html.EditorFor(model => model.Topic.TopicName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Topic)
            @Html.EditorFor(model => model.Topic.TopicName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Topic)
            @Html.EditorFor(model => model.Topic.TopicName, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    }


    <br />



