﻿@model IEnumerable<BilForum.Models.PostModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul class="list-group-flush">
    @foreach (var post in Model)
    {
        <li class="list-group-item">
            @*
                <a href="#">@post.Subject</a>
                <span class="badge badge-primary badge-pill"> @post.ID</span>
            *@
            @Html.DisplayName(post.Author)
            <hr />
            @Html.ActionLink(post.Subject, "ShowPost", new { id = post.ID })

        </li>
    }
</ul>