﻿@model BilForum.Models.PostModel

@{
    ViewBag.Title = "ShowPost";
}

<h2>@Html.DisplayNameFor(model => model.Subject): @Html.DisplayFor(model => model.Subject) </h2>
<p>@Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(model => model.Author)</p>
<p>@Html.DisplayNameFor(model => model.Content): @Html.DisplayFor(model => model.Content)</p>
