﻿@model IEnumerable<MvcCheeseShop.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.firstName)
           
        </th>
              
        <th>
            @Html.DisplayNameFor(model => model.Customer.customerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderId)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.customerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderId)
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderId })
        </td>
    </tr>
}

</table>
