﻿@model IEnumerable<CheeseShop.Models.Products>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>

</div>
<div>
    <div class="flex">

        @foreach (var item in Model)
        {

        <div class="card">
            <div class="imageBox">
                <img src="~/Images/@Html.DisplayFor(modelItem => item.Pictures)"  alt="...">
            </div>
            <div class="body-box">
                <div class="card-body">
                    @{
                        var DescriptionSub = item.Description.Substring(0, 100) + "...";
                    }

                    <h4 class="card-title card-element" style="grid-area:1/1/1/1">@Html.DisplayFor(modelItem => item.Title)</h4>
                    <!-- grid-row-start / grid-column-start / grid-row-end / grid-column-end. -->
                    <div style="grid-area:2/1/2/1" class="card-description card-element">
                        @Html.DisplayFor(modelItem => DescriptionSub)
                    </div>
                    <div class="card-price-box card-element" style="grid-area:3/1/3/1">
                        <span class="card-kg-price-label">Kg-price:</span> <span class="card-current-price-span"><span class="card-price" id="priceTag@(item.Id)" tag="@item.KgPrice">@item.KgPrice</span> <span class="card-price-unit">Bitcoins/kg</span></span>
</div>
                    <div style="grid-area:4/1/4/1" class="card-kg-area card-element">
                        <input class="card-input-weight" id="quantityTextBox@(item.Id)" type="text" value="0.400" tag="0.400" onchange="updateCurrentPrice(@item.Id)"/> <span class="card-current-price-span"><span class="card-current-price" id="currentPriceTag@(item.Id)">@(((double)item.KgPrice) * .4)</span> <span class="card-price-unit">Bitcoins</span></span>
                    </div>
                    <div class="card-buy-buttons card-element" style="grid-area:5/1/5/1">
                        <a href="#" class="btn btn-primary btn-success" onclick="addToCart(@item.Id)">Add to cart!!!</a>
                    </div>

                    <nav>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </nav>

                </div>
            </div>
        </div>





            @*@Html.DisplayFor(modelItem => item.Pictures)
                @Html.DisplayFor(modelItem => item.Variant)
                @Html.DisplayFor(modelItem => item.Type)
                @Html.DisplayFor(modelItem => item.Supplier)
                @Html.DisplayFor(modelItem => item.Brand)
                @Html.DisplayFor(modelItem => item.Country)
                @Html.DisplayFor(modelItem => item.FatPrecentage)
                @Html.DisplayFor(modelItem => item.Aging)
                @Html.DisplayFor(modelItem => item.Moldy)
                @Html.DisplayFor(modelItem => item.Color)
                @Html.DisplayFor(modelItem => item.Firmness)
                @Html.DisplayFor(modelItem => item.KgPrice)*@

        }
    </div>
</div>