﻿.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 4;
    justify-content: space-between;
}

.card {
    border: black solid 1px;
    width: 200px;
    margin-bottom: 20px;
}

.imageBox {
    height: 200px;
    overflow: hidden;
}

.body-box {
    height: 400px;
}

.card-body {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    height:100%;
}

.card-element {
    overflow:hidden;
}

.card-current-price-span {
    text-align: right;
    width: 75%;
}


.card-input-weight {
    width: 25%;
    text-align: left;
}

.card-kg-price-label {
    text-align: left;
    width: 25%;
}


.card-element {
    overflow:hidden;
}

.cart-part {
    stroke: #909090;
    transform: scale(.1) translate(-2675px, -1750px);
    
}

.cart-part:hover{
    stroke: #ffffff;
}

.cart-div {
    width:50px;
    height:40px;
    overflow:hidden;
}

.cart-form {
    display: flex;
    margin: 0px;
}
