﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                    <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                    <li>@Html.ActionLink("OrderLines", "Index", "OrderLines")</li>
                    <li>@Html.ActionLink("Visit the web shop!!!!", "Index", "Products/shop")</li>
                    <li style="height: 0px;">

                        <button style="background-color: inherit; border-width: 0px;" type="submit">
                            <div class="cart-div" onclick="gotoCart()" id="cartDummyDiv" tag="[]">
                                <svg class="cart-part" width="580" height="400" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_7" y2="102.4375" x2="479.5" y1="94.4375" x1="70.5" stroke-width="10" fill="none" />
                                        <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_8" y2="243.4375" x2="399.5" y1="102.4375" x1="477.5" stroke-width="10" fill="none" />
                                        <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_9" y2="242.4375" x2="113.5" y1="242.4375" x1="403.5" fill-opacity="null" stroke-opacity="null" stroke-width="10" fill="none" />
                                        <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_10" y2="240.4375" x2="115.5" y1="93.4375" x1="73.5" fill-opacity="null" stroke-opacity="null" stroke-width="10" fill="none" />
                                        <ellipse ry="32.5" rx="42.5" id="svg_11" cy="296.9375" cx="172" fill-opacity="null" stroke-opacity="null" stroke-width="10" fill="none" />
                                        <ellipse ry="33" rx="32.5" id="svg_12" cy="300.4375" cx="361" fill-opacity="null" stroke-opacity="null" stroke-width="10" fill="none" />
                                        <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_13" y2="69.4375" x2="534.5" y1="102.4375" x1="477.5" fill-opacity="null" stroke-opacity="null" stroke-width="10" fill="none" />
                                    </g>
                                </svg>
                            </div>
                        </button>



                    </li>
                    <span>!</span>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/cartManegement.js" type="text/javascript"></script>
</body>
</html>
