﻿body {
    text-align: center;
    background-color: black;
}

article {
    padding: 10px;
    border: 2px solid red;
    display: flex;
}

div {
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    width: 150px;
    height: 150px;
}

    div:nth-child(odd) {
        font-size: 4rem;
    }

p::first-letter{
    font-size: 20px;
    color: blueviolet;
}

P::before{
    content: "Test me";
    color: blue;}

P::after{
    content: "Test Slut";
    color: red;
}

::selection{
    background-color: brown;
    color: blue;
}

p:first-child{
    background-color: brown;
    color: whitesmoke;
}

p:nth-child(2){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

p:first-of-type{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}

p:hover{
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px green, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px greenyellow, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

